{% extends 'base.html' %}
{% block title %}Post {% endblock %}
{% load static %}
{%block content%}
{{block.super}}
{% load materializecss %}
<div class="container">
    <div class="col s4 m7 l4 xl5 offset-s5 offset-m7 offset-l4 offset-xl4">
        <div class="flow-text">
            <form class="center-align" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <h4>{{ title }}</h4>
                {{ form | materializecss }}
                <button type="submit" class="col s12 btn btn-large waves-effect blue">Create post</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}