{% extends 'base.html' %}
{% block title %} Register{% endblock %}
{% load static %}
{% load materializecss %}
{%block content%}
{{block.super}}

<div class="container">
    <div class="col s4 m7 l4 xl5 offset-s5 offset-m7 offset-l4 offset-xl4">
        <div class="center-align">
            <h5 class="blue-text flow-text">Register Now</h5>
        </div>
        <form class="center-align" method="post" action="">


                <button type="submit" class="col s12 btn btn-large waves-effect blue">Reset password</button>
            </div>

        </form>
    </div>
</div>

{%endblock %}