{% load static %}
<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img class="responsive-img" src="{%static 'gym.jpg'%}">
            </div>
            <a href="{% url 'index' %}"><img class="responsive-img" src="{%static 'logo-white.png'%}"></a>
            <a href="#email"><span class="white-text email">contact@gorillafitness.com</span></a>
        </div>
    </li>

    {% if user.is_authenticated%}
    <p class="center-align"> {{user.username}} is logged in.</p>
    <li> <a href="{% url 'profile' %}"> Profile </a></li>
    <li><a href="{% url 'logout' %}"> Logout</a></li>
    <li><a href="{% url 'news_post' %}">News post </a></li>
    {% else %}
    <li><a href="{% url 'login' %}"> Login</a></li>
    <li><a href="{% url 'register' %}">Register</a></li>
    {% endif %}
    <li><a href="{% url 'about' %}"> About </a></li>
    <li><a href="{% url 'contact' %}"> Contact </a></li>

</ul>

<a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="medium material-icons">menu</i></a>